@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 11rem;
    transition: 2s;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: rgb(136, 128, 128);
    box-shadow: 0.1rem 0.1rem 1px;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .3rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.54rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(69, 70, 34, 0.9);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    animation: zomm 7s;
}

@keyframes zomm {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 14%;
    left: 5%;
    z-index: 98;
}

.banner h1 {
    color: #c8a07a;
    font-size: 4rem;
    font-family: serif;
    font-weight: 300;
    text-shadow: .1rem .2rem 1 px rgba(0, 0, 0, 2);
    line-height: 7rem;
    margin-bottom: 1rem;
    animation: moveBanner 2s;
    z-index: 100;
}


@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg)
    }
    100% {
        transform: translateY(0) rotateY(0)
    }
}

.sidebar {
    width: 15rem;
    height: 100vh;
    background-color: rgb(223, 208, 208);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.8s;
    z-index: 99;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: 1rem;
}

.menu-link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgba(77, 32, 32, 0.9);
    transition: color 0.2s;
}

.menu-link:hover {
    color: rgb(230, 220, 220);
}

.social-media {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: rgba(77, 32, 32, 0.9);
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
}

.social-media i:hover {
    color: rgb(230, 220, 220);
    transition: color 0.2s;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 5rem;
    background-color: #f4f0ed;
  
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(2) {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 8;
    grid-row: 5 / 6;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 15;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(5) {
    grid-column: 12 / 16;
    grid-row: 3 / 6;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 15;
    grid-row: 5 / 6;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
background-color: #f2eeeb;
}

.sessao-header h1{
    font-family:serif;
font-size: 3rem;
color:rgb(114, 114, 114); 
border-bottom: solid 3px #623941 ;
margin-bottom: 1rem;
}
.conhecimento-header{
    display: flex;
    align-items: center;
  
  
}
    
    .conhecimento-header h3{
        font-family: -apple-system;
        font-size: 2rem;
        padding-left:1rem; 
        color: dimgrey; 
    } 
    .conhecimento-text{
        font-family: serif;
        color: rgb(109, 109, 109);
        margin-top: 1rem;
    }
    .conhecimento-img-wraper{
        grid-column: 6 / 11;
        grid-row: 2;
    }
    .conhecimento.img-wraper{
        object-fit: cover;
    }